.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.main {
  min-height: 100vh;
  background: #f2f2f2;
  position: relative;
  z-index: 1;
}

.footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #100a31;
  height: 400px;
}

.stroke {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #365ded;
}

.vertical {
  border-left: 3px solid #365ded;
  height: 100px;
  position: absolute;
  left: 50%;
}

.line-horizontal-blue {
  width: 40px;
  border-top: 4px solid #365ded;
}

.line-horizontal-white {
  width: 40px;
  border-top: 4px solid #ffffff;
}

.hover-button {
  color: red;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 399px) {
  .vertical {
    border-left: 3px solid #365ded;
    height: 50px;
    position: absolute;
    left: 50%;
  }
}

@media only screen and (max-width: 409px) {
  .mobile-409px {
    display: flex;
    justify-content: center;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
